
.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
}

h1 {
    margin-top: 0px;
}

/* .canvas {
    background-image: url(../img/IMG_2282.jpeg);
} */

.jumbotron {
    margin-bottom: 0px;
    min-height: 70vh;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

.jumbotron .container {
    padding-top: 140px;
}

.profile img{
    width: 40%;
    margin: auto;
}

#projects {
    background-color: #d4f3ef;
}

.card-header {
    padding: 3px;
}

.ability {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    width: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#abilities li {
    margin-bottom: 0.5rem;
}

#contact h1 {
    margin-bottom: 0px;
}

.sns-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
}